.button {
  --button-bg: var(--color-global-text);
  --button-text: var(--color-global-bg);
  --button-x-padding: 1.5em;
  --button-y-padding: 0.6em;
  --button-gutter: 0.5ch;
  --cluster-horizontal-alignment: center;

  display: inline-flex;
  gap: var(--button-gutter);
  align-items: center;
  line-height: var(--leading);
  position: relative;
  border: none;
  border-radius: var(--radius-l);
  cursor: pointer;
  background: var(--button-bg);
  color: var(--button-text);
  padding: var(--button-y-padding) var(--button-x-padding);
  letter-spacing: var(--kerning-uppercase);
  text-decoration: none;
  font-family: var(--font-base);
  font-size: var(--text-size-base);
  font-weight: var(--font-medium);
  transition:
    color 0.1s ease-in,
    background-color 0.1s ease-in,
    border-color 0.1s ease-in;
}

.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.button svg {
  height: 1lh;
  width: 1lh;
}
