.button {
  --button-bg: var(--color-text);
  --button-text: var(--color-bg);
  --button-x-padding: 1em;
  --button-y-padding: 0.2em;
  --button-gutter: 0.5ch;
  --cluster-horizontal-alignment: center;

  display: inline-flex;
  gap: var(--button-gutter);
  align-items: center;
  line-height: var(--leading);
  position: relative;
  border: none;
  /* border-radius: var(--radius-l); */
  cursor: pointer;
  background: var(--button-bg);
  color: var(--button-text);
  padding: var(--button-y-padding) var(--button-x-padding);
  letter-spacing: var(--kerning-uppercase);
  text-decoration: none;
  font-family: var(--font-base);
  font-weight: var(--font-medium);
  transition:
    color 150ms ease-in,
    background-color 150ms ease-in,
    border-color 150ms ease-in;
}

.button:hover {
  --button-bg: var(--color-primary-subtle);

  color: var(--color-bg-subtle);
}

.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.button svg {
  height: 1lh;
  width: 1lh;
}
