:root {
  /* @link https://utopia.fyi/type/calculator?c=360,32,1.2,1240,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.96rem, 1.5643rem + -0.7798vw, 1.3889rem);
  --step--1: clamp(1.2rem, 1.8576rem + -0.8485vw, 1.6667rem);
  --step-0: clamp(1.5rem, 2.2045rem + -0.9091vw, 2rem);
  --step-1: clamp(1.875rem, 2.6148rem + -0.9545vw, 2.4rem);
  --step-2: clamp(2.3438rem, 3.0994rem + -0.975vw, 2.88rem);
  --step-3: clamp(2.9297rem, 3.6713rem + -0.9569vw, 3.456rem);
  --step-4: clamp(3.6621rem, 4.3456rem + -0.882vw, 4.1472rem);
  --step-5: clamp(4.5776rem, 5.1399rem + -0.7255vw, 4.9766rem);

  /* @link https://utopia.fyi/space/calculator?c=360,32,1.2,1240,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.375rem, 0.5511rem + -0.2273vw, 0.5rem);
  --space-2xs: clamp(0.75rem, 1.1023rem + -0.4545vw, 1rem);
  --space-xs: clamp(1.125rem, 1.6534rem + -0.6818vw, 1.5rem);
  --space-s: clamp(1.5rem, 2.2045rem + -0.9091vw, 2rem);
  --space-m: clamp(2.25rem, 3.3068rem + -1.3636vw, 3rem);
  --space-l: clamp(3rem, 4.4091rem + -1.8182vw, 4rem);
  --space-xl: clamp(4.5rem, 6.6136rem + -2.7273vw, 6rem);
  --space-2xl: clamp(6rem, 8.8182rem + -3.6364vw, 8rem);
  --space-3xl: clamp(9rem, 13.2273rem + -5.4545vw, 12rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.5rem, 0.3977rem + 0.4545vw, 0.75rem);
  --space-2xs-xs: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
  --space-xs-s: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);
  --space-s-m: clamp(2rem, 1.8977rem + 0.4545vw, 2.25rem);
  --space-m-l: clamp(3rem, 3rem + 0vw, 3rem);
  --space-l-xl: clamp(4rem, 3.7955rem + 0.9091vw, 4.5rem);
  --space-xl-2xl: clamp(6rem, 6rem + 0vw, 6rem);
  --space-2xl-3xl: clamp(8rem, 7.5909rem + 1.8182vw, 9rem);

  /* Custom pairs */
  --space-l-3xl: clamp(4rem, 1.9545rem + 9.0909vw, 9rem);

  /* Base colors */
  --color-dark: oklch(0.09 0.02 264);
  --color-light: oklch(0.97 0.01 264);

  --color-white: oklch(1 0 0);
  --color-blue: oklch(0.45 0.15 264);
  --color-orange: oklch(0.65 0.15 45);
  --color-green: oklch(0.72 0.08 135);
  --color-purple: oklch(0.75 0.1 285);

  /* Color variants */
  --color-bg: var(--color-light);
  --color-bg-subtle: oklch(from var(--color-light) calc(l + 0.02) c h);
  --color-bg-muted: oklch(from var(--color-light) calc(l - 0.06) c h);
  --color-bg-emphasis: oklch(from var(--color-light) calc(l - 0.12) c h);

  --color-text: var(--color-dark);
  --color-text-subtle: oklch(from var(--color-dark) calc(l + 0.35) c h);
  --color-text-muted: oklch(from var(--color-dark) calc(l + 0.75) c h / 0.8);

  --color-primary: var(--color-blue);
  --color-primary-subtle: oklch(from var(--color-blue) calc(l - 0.15) c h);
  --color-primary-light: oklch(from var(--color-blue) calc(l + 0.15) c h);

  --color-accent: var(--color-orange);
  --color-accent-subtle: oklch(from var(--color-orange) calc(l - 0.05) c h);
  --color-accent-light: oklch(from var(--color-orange) calc(l + 0.15) c h);

  /* Global UI Colors */
  --color-global-text: var(--color-dark);
  --color-global-bg: var(--color-light);

  --color-card-bg: var(--color-bg-subtle);
  --color-card-cta-bg: var(--color-bg-muted);
  --color-card-heading: var(--color-global-text);
  --color-card-text: var(--color-text-subtle);

  --color-footer-bg: var(--color-primary-subtle);
  --color-footer-text: var(--color-white);
  --color-footer-socials-text: var(--color-text-muted);

  --leading: 1.5;
  --leading-fine: 1.1;
  --leading-loose: 1.7;
  --kerning: normal; /* AKA letter-spacing */
  --kerning-tight: -0.1ch;
  --kerning-loose: 0.1ch;
  --kerning-uppercase: 0.04ch;
  --text-size-base: var(--step-1);
  --text-size-meta: var(--step-0);
  --text-size-lede: var(--step--2);
  --text-size-heading-1: var(--step-5);
  --text-size-heading-2: var(--step-4);
  --text-size-heading-3: var(--step-3);
  --text-size-heading-4: var(--step-2);
  --text-size-heading-5: var(--step-1);
  --text-size-heading-6: var(--step--2);
  --gutter: var(--space-s-m);
  --space-gutter: var(--space-m);
  --space-gutter-s: var(--space-s);
  --space-gutter-l: var(--space-l);
  --space-regions: var(--space-xl);
  --size-text-max-width: 40rem;

  /* Fonts */
  --font-base: 'Bergen Mono';
  --font-display: 'Inter';
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;
  --focus-ring: 2px solid currentColor;
  --focus-ring-offset: 2px;

  --stroke: 3px solid var(--color-stroke, var(--color-bg-emphasis));

  --radius-s: var(--space-3xs);
  --radius-m: var(--space-2xs);
  --radius-l: var(--space-m);
  --radius-xl: var(--space-xl);
  --radius-full: 9999px;

  --wrapper-max-width: 1240px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-dark: oklch(0.97 0.01 264);
    --color-light: oklch(22.412% 0.0285 268.927);
    --color-blue: oklch(19.658% 0.08772 279.309);
    --color-orange: oklch(38.638% 0.11799 41.364);
  }
}
