<footer class="footer">
  <div class="flow text-break | footer-wrapper">
    <h2 class="footer-title">let's build together</h2>
    <nav class="cluster | footer-nav">
      <a href="/" class="footer-nav__item">git</a>
      <a href="/" class="footer-nav__item">linkedin</a>
      <a href="/" class="footer-nav__item">email</a>
    </nav>
    <p class="footer-copy">2025 My Site. Built with Eleventy</p>
  </div>
</footer>
