.main {
  grid-area: main;
  margin-top: var(--space-xl);
}

.cards-grid {
  display: grid;
  gap: var(--space-m);
  height: 100%;
}

@media (width > 1024px) {
  .cards-grid {
    grid-template: auto minmax(clamp(18rem, 8vw, 20rem), 1fr) / repeat(3, 1fr);
  }

  .card-about {
    grid-column: 1/3;
  }

  .card-projects {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .card-now {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.detail-page {
  height: 100%;
}

.back-button {
  display: inline-block;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #0077cc;
}

@view-transition {
  navigation: auto;
}

@media not (prefers-reduced-motion: reduce) {
  .card-about,
  .page-about {
    view-transition-name: about;
  }

  .card-now,
  .page-now {
    view-transition-name: now;
  }

  .card-projects,
  .page-projects {
    view-transition-name: projects;
  }
}

@supports (view-transition-name: none) {
  /* ::view-transition-old(about),
  ::view-transition-old(now),
  ::view-transition-old(projects) {
    animation: fade 0s linear;
  }

  ::view-transition-new(about),
  ::view-transition-new(now),
  ::view-transition-new(projects) {
    animation: fade 0.15s ease;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } */
}
