<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "My Site" }}</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body class="theme-colorful">
    <div class="body-grid">
      {% include "partials/header.njk" %}
      <main class="main">
        {{ content | safe }}
      </main>
      {% getBundle "fontawesome" %}
      {% include "partials/footer.njk" %}
    </div>
  </body>
</html>
