<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "partials/meta.njk" %} {% include "partials/structured-data.njk"
    %} {% if site.analytics %}
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics }}"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', '{{ site.analytics }}');
    </script>
    {% endif %}
    <title>{{ title or "watchlar2000" }}</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="body-grid">
      {% include "partials/header.njk" %}
      <main class="main">{{ content | safe }}</main>
      {% getBundle "fontawesome" %} {% include "partials/footer.njk" %}
    </div>
  </body>
</html>
