---
layout: layouts/base.njk
---

<div class="flow | detail-page">
  <div class="flow prose">
    <div class="cluster">
      <a href="/" class="card-link back-button">
        <span class="visually-hidden">Projects page</span>
        {% svg "src/images/icons/arrow-right.svg" %}
      </a>
      <h2>{{ title }}</h2>
    </div>
    {{ content | safe }}
  </div>
</div>
