<footer class="footer">
  <div class="flow-loose | footer-wrapper">
    {% svg "src/images/theme/drawing.svg", "footer-illustration" %}
    <div>
      <ul class="cluster | footer-socials">
        <a href="/" class="footer-socials__item">git</a>
        <a href="/" class="footer-socials__item">linkedin</a>
        <a href="/" class="footer-socials__item">email</a>
      </ul>
    </div>
    <div class="flow | footer-meta">
      <nav class="cluster | footer-nav">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/projects/">Projects</a>
        <a href="/now/">Now</a>
      </nav>
      <p class="text-balance">2025 My Site. Built with
        <a href="https://www.11ty.dev/">Eleventy</a>
      </p>
    </div>
  </div>
</footer>
