<header class="header">
  <div class="cluster | header-wrapper">
    <a href="/" class="logo">
      <span class="visually-hidden">Logo</span>
    </a>
    <nav class="cluster | header-nav">
      <a href="/about/">about</a>
      {# <a href="/projects/">projects</a> #}
      <a href="/now/">now</a>
    </nav>
  </div>
</header>
