<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Sergii Kochetov",
    "url": "https://watchlar2000.com",
    "jobTitle": "Full-stack Developer",
    "worksFor": { "@type": "Organization", "name": "Freelance" },
    "sameAs": [
      "https://github.com/watchlar2000",
      "https://www.linkedin.com/in/sergii-koch/"
    ]
  }
</script>
